$darkPurple: #3d147b;
$brightPurple: #fd00fe;

$darkPink: #ff7ea7;
$brightPink: #ffa5d2 ;

$white: #ffffff;
$lightgrey: #eeeeee;

$font: 'Space Mono', monospace;

html body{
    background-color: $darkPurple;
}

#CineFiles-Client{
    font-family: $font;
    color: $brightPink;
    letter-spacing: 0.5em;
}

.btn-flat {
    background-color: $brightPurple !important;
    color: $lightgrey !important;
}

.btn-flat:hover {
    background-color: $brightPink !important;
    color: $darkPurple !important;
    text-decoration: none !important;
}

.has-height-600{
    height: 600px;
    margin-top: 5%;
}

#login .logo-image{
    height: 300px;
}

#login .error-msg{
    font-size: 1.5em;
    padding: .25em;
    letter-spacing: normal;
}

#register .logo-image{
    height: 200px;
}

#register .text-muted{
    color: $lightgrey !important;
    letter-spacing: normal;
}

#register .error-msg{
    font-size: 1em;
    letter-spacing: normal;
    list-style: none;
}

.error-msg{
    text-align: center;
    text-transform: uppercase;
    color: $white;   
}

#movieCard img.card-img-top{
    object-fit: cover;
    height: 380px;
}

#movieCard .card-text{
    letter-spacing: normal;
    font-size: .85em;
}

#movieCard .card-title{
    letter-spacing: normal;
}

#movieCard .card{
    margin-top: 15px;
    margin-bottom: 15px;
}

#CineFiles-Navbar .btn-flat{
    letter-spacing: normal;
    margin-left: 2em;
}

#movieView .poster-img{
    width: 100%;
}

#movie-info, #director-info{
    letter-spacing: normal;
}

#movie-info .title, #director-info .title, #user-info .title{
    background-color: #ffa5d2;
    color: $darkPurple;
    padding: 0.25em;
    border-radius: .25em;
    text-align: center;
}

#movie-info .details-container, #director-info .details-container, #user-info .details-container{
    margin-bottom: .75em;
}

#movie-info .details, #director-info .details, #user-info .details{
    color: $darkPurple;
}

#user-info .details .btn-flat{
    margin-bottom: 12px;
}