$darkPurple: #3d147b;
$brightPurple: #fd00fe;

$darkPink: #ff7ea7;
$brightPink: #ffa5d2 ;

$white: #ffffff;
$lightgrey: #eeeeee;

$font: 'Space Mono', monospace;

html body{
    background-color: $darkPurple;
}

#CineFiles-Client{
    font-family: $font;
    color: $brightPink;
    letter-spacing: 0.5em;
}

.btn-flat {
    background-color: $brightPurple !important;
    color: $lightgrey !important;
}

.btn-flat:hover {
    background-color: $brightPink !important;
    color: $darkPurple !important;
    text-decoration: none !important;
}

.has-height-600{
    height: 600px;
    margin-top: 20%;
}

.logo-image{
    height: 300px;
}

#register img{
    height: 200px;
}

.error-msg{
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: 1.5em;
    padding: .25em;
}